@model ShubkivTour.Models.DTO.TourDTOCreate
@{
    ViewData["Title"] = "Список турів";
}

<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Список турів</h1>
        <a asp-controller="Tour" asp-action="TourAdd" class="btn btn-success">Створити новий тур</a>
    </div>
    <div class="row">
        @foreach (var tour in ViewBag.AllTours as List<ShubkivTour.Models.Entity.Tour>)
        {
            <div class="col-md-4 col-sm-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@tour.Name</h5>
                        <p class="card-text">
                            <strong>Складність:</strong> @tour.Complexity <br />
                            <strong>Ціна:</strong> @tour.Price <br />
                            <strong>Дата:</strong> @tour.Date.ToShortDateString() <br />
                            <strong>Учасники:</strong> @tour.MaxMembers
                        </p>
                        <a asp-controller="Tour" asp-action="TourDetails" asp-route-id="@tour.Id" class="btn btn-info" target="_blank">Переглянути деталі</a>
                        <form asp-controller="Tour" asp-action="RemoveTour" asp-route-id="@tour.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger">Видалити</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
