@model ShubkivTour.Models.DTO.TourDTOCreate
@{
	ViewData["Title"] = "Tour Managemet";
}

<div class="text-center">
	<h1 class="display-4">Salam</h1>
	<p>Тут кароче будуть всякі плюшкі для керування турами від лиця адміна</p>
</div>
<form asp-controller="Tour" asp-action="TourCreate" method="post">
	<div class="form-group">
		<label>Назва</label>
		<input type="text" id="Name" name="Name" class="form-control"/>

		<label>Гід</label>
		<select name="GuideId" class="form-control">
			@if (ViewBag.AllGuids != null)
			{
				@foreach (var guide in ViewBag.AllGuids as List<ShubkivTour.Models.Entity.Guide>)
				{
					<option value="@guide.Id">@guide.Name</option>
				}
			}
		</select>
		<button type="submit" class="btn btn-primary" asp-action="AddGuide">Записати гіда</button>

		<label>Локації</label>
		<select name="LocationId" class="form-control">
			@if (ViewBag.AllLocations != null)
			{
				@foreach (var location in ViewBag.AllLocations as List<ShubkivTour.Models.Entity.Location>)
				{
					<option value="@location.Id">@location.Name</option>
				}
			}
		</select>
		<button type="submit" class="btn btn-primary" asp-action="AddLocation">Записати локацію</button>

		<label>Розваги</label>
		<select name="EntertainmentId" class="form-control">
			@if (ViewBag.AllEntertainments != null)
			{
				@foreach (var entertainment in ViewBag.AllEntertainments as List<ShubkivTour.Models.Entity.Entertainment>)
				{
					<option value="@entertainment.Id">@entertainment.Name</option>
				}
			}
		</select>
		<button type="submit" class="btn btn-primary" asp-action="AddEntertainment">Записати розвагу</button>

		<label>Ціна</label>
		<input type="number" id="Price" name="Price" class="form-control" />

		<label>Важкість</label>
		<select name="Complexity" class="form-control">
			<option value="Легка">Легка</option>
			<option value="Середня">Середня</option>
			<option value="Складна">Складна</option>
		</select>

		<label>Дата</label>
		<input type="date" id="Date" name="Date" class="form-control"/>


		<button type="submit" class="btn btn-primary" asp-action="TourCreate">Створити тур</button>

	</div>
</form>


