@model ShubkivTour.Models.DTO.TourDTOCreate
@{
	ViewData["Title"] = "Tour Managemet";
}

<div class="text-center">
	<h1 class="display-4">Salam</h1>
	<p>Тут кароче будуть всякі плюшкі для керування турами від лиця адміна</p>
</div>
<form asp-controller="Tour" asp-action="TourCreate" method="post">
	<div class="form-group">
		<label>Назва</label>
		<input type="text" id="Name" name="Name" class="form-control" />

		<label>Гід</label>
		<select name="GuideId" class="form-control">
			@if (ViewBag.AllGuids != null)
			{
				@foreach (var guide in ViewBag.AllGuids as List<ShubkivTour.Models.Entity.Guide>)
				{
					<option value="@guide.Id">@guide.Name</option>
				}
			}
		</select>
		<button type="submit" class="btn btn-primary" asp-action="AddGuide">Записати гіда</button>


		<a asp-controller="Program" asp-action="DayCreate" class="btn btn-primary">Розробити програму туру</a>


		<label>Ціна</label>
		<input type="number" id="Priсe" name="Price" class="form-control" />

		<label>Важкість</label>
		<select name="Complexity" class="form-control">
			<option value="Легка">Легка</option>
			<option value="Середня">Середня</option>
			<option value="Складна">Складна</option>
		</select>

		<label>Дата</label>
		<input type="date" id="Date" name="Date" class="form-control" />



		<button type="submit" class="btn btn-primary" asp-action="CreateDay">Створити тур</button>

	</div>
</form>
<div class="text-center">
	<h1 class="display-4">Список турів</h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Назва</th>
			<th>Складність</th>
			<th>Ціна</th>
			<th>Дата</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var tour in ViewBag.AllTours)
		{
			<tr>
				<td>@tour.Name</td>
				<td>@tour.Complexity</td>
				<td>@tour.Price</td>
				<td>@tour.Date</td>
			</tr>
		}
	</tbody>
</table>


